PORT=3003
HOST=0.0.0.0
NODE_ENV=development

# JWT — debe ser el mismo secreto que el auth-service
JWT_SECRET=supersecret_change_in_production

# SAP Integration Service
SAP_INTEGRATION_URL=http://sap-integration-service:3010
