PORT=3007
HOST=0.0.0.0
NODE_ENV=development
JWT_SECRET=supersecret_change_in_production

# Email (producción)
# SMTP_HOST=smtp.sendgrid.net
# SMTP_PORT=587
# SMTP_USER=apikey
# SMTP_PASSWORD=changeme
# EMAIL_FROM=noreply@secretosdelagua.com
