PORT=3001
HOST=0.0.0.0

# JWT — cambia este secreto en producción
JWT_SECRET=supersecret_change_in_production
JWT_EXPIRES_IN=8h

# SAP Integration Service (para verificar credenciales)
SAP_INTEGRATION_URL=http://sap-integration-service:3010

# Entorno: development | production
NODE_ENV=development
